<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Include additional styles to make buttons inline and align them to the right -->
    <style>
      nav {
        display: flex;
        justify-content: flex-end; /* Align buttons to the right */
        gap: 10px;
      }

      nav a, nav button {
        padding: 10px 20px;
        background-color:#ff006f;
        color: white;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
      }

      nav button {
        background-color: #e83e8c; /* Pink background for the button */
      }

      nav a:hover, nav button:hover {
        opacity: 0.8;
      }
    </style>
  </head>

  <body>
    <div class="notice"><%= notice %></div>
   <nav>
      <!-- <%= link_to "Home", root_path, class: "button" %> -->
      <%= button_to "Log out", session_path, method: :delete, class: "button" if authenticated? %>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
